.search-nav-bar{
    padding: 0 0.75rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: white;
    border-radius: 6rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.focus{
    background:linear-gradient(to right, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
    background-clip: text;
    -webkit-background-clip: text;
    color: white;
    border: 1px  solid currentColor;
    transition: ease-in-out;
    /* transition: background-color 0.3s ease, color 0.3s ease; */
}
/* .focus .svg{
    color: white;
} */