.cta{
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 20;
    right: 0rem;
    bottom: -3.5rem;
    font-weight:normal;
    border: none;
    background:linear-gradient(to right, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
    border-radius: 50%;
}
.cta .add{
    width: 2rem;
    height: 2rem;
    color: rgb(243, 244, 246);
}
@media (min-width: 520px){
    .cta:hover{
        cursor: pointer;
    }
}