.todo-items{
    margin-bottom:1rem;
    padding: 1rem;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background:linear-gradient(rgb(17, 24, 39), rgb(75, 85, 99));
    background-color: transparent; */
    border-radius:0.2rem;
    color:dimgray;
    opacity: 0.5;
    transition: 100ms ease-in;
}
.todo-items .checked{
    width: 1.75rem;
    height: 1.75rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: 150ms ease-in-out;
    /* background:linear-gradient(rgb(123, 124, 126), rgb(184, 188, 194)); */
    /* background:linear-gradient(rgb(17, 24, 39), rgb(75, 85, 99)); */
    color: transparent;
    transition: 100ms ease-in-out;
}
/* text */
.todo-items .text{
    width: 60%;
    height: 1rem;
    /* background:linear-gradient(rgb(17, 24, 39), rgb(75, 85, 99)); */
    color: transparent;
    border-radius: 0.3rem;
}

/* close */
.todo-items .close{
    width: 1.75rem;
    height: 1.75rem;
    /* background:linear-gradient(rgb(17, 24, 39), rgb(75, 85, 99)); */
    color: transparent;
    border-radius: 50%;
    transition: 100ms ease-in-out;
}
.todo-items, .todo-items .checked, .todo-items .text, .todo-items .close{
    background:linear-gradient(90deg,rgb(25, 35, 58), rgba(51, 57, 66, 0.658));
    background-size: 200% 200%;
    animation: skeleton 2s ease-in-out infinite;
}

@keyframes skeleton {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
