.items{
    margin-bottom:1rem;
    padding: 1rem;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius:0.5rem;
    color:dimgray;
    transition: 100ms ease-in;
}
.items .checked{
    width: 1.75rem;
    height: 1.75rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: 150ms ease-in-out;
    color: #ebade6;
    transition: 100ms ease-in-out;
}


/* close */
.items .close{
    width: 1.75rem;
    height: 1.75rem;
    /* color: rgba(224, 91, 91, 0.993); */
    color: #ebade6;
    border-radius: 50%;
    transition: 100ms ease-in-out;
}

/* hover */
.items .checked:hover, .items .close:hover{
    cursor: pointer;
    transition: 100ms ease-in-out;
    transform: scale(1.1, 1.1) translate(0, 0);
    box-shadow: 1px 1px 4px 0px currentColor;
}
/* inactive] */
.inactive{
opacity: 0.4;
}
.inactive .checked{
    color: white;
    background:linear-gradient(to right, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
    background-color: transparent;
}
.inactive .close{
    color: #888ff8;
}
.inactive p{
    text-decoration: line-through;
}