.search-btn{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../../public/assets/search-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}
.color{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../../public/assets/search-svgrepo-color.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background:linear-gradient(to right, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248)); */
    background-color: red;
}
@media (min-width: 520px){
    .search-btn:hover{
        cursor: pointer;
    }
}