*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
}
body{
  padding: 4rem 2rem;
  height: 100vh;
  background:linear-gradient(rgb(17, 24, 39), rgb(75, 85, 99));
}